@import "tailwindcss";

body {
  @apply transition-colors duration-300;
}

/* hide scrollbar helper */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

